include ../static/pug/_global
<!DOCTYPE html>
html
  +head('Портфолио')
  body
    main
      +header()
      +breadcrumb(['Home Page', 'Portfolio'], 'Portfolio')
      include ../modules/portfolio/single
      +footer()
    include ../static/pug/_scripts