mixin about(vars)
  +b.work
    .inner
      h2.text-center.heding-1 Как мы работаем?
      +e.box
        +e.list
          +e.item
            +e.text Оставляете 
              b заявку 
              br
              | на сайте или по телефону
            +e.IMG.pic(src="/icon/icon-about-1.svg" alt="")
          +e.item
            +e.IMG.pic(src="/icon/icon-about-2.svg" alt="")
            +e.text Специалист проводит 
              br
              b бесплатную 
              |  консультацию
          +e.item
            +e.text
              b Рассчитываем 
              br
              | примерную стоимость
            +e.IMG.pic(src="/icon/icon-about-3.svg" alt="")
          +e.item
            +e.IMG.pic(src="/icon/icon-about-4.svg" alt="")
            +e.text Подписываем  
              b договор 
              | и вы
              br
              | вносите предоплату за проект
          +e.item
            +e.text
              b Разрабатываем 
              | проект,
              br
              | составляем смету 
            +e.IMG.pic(src="/icon/icon-about-5.svg" alt="")
          +e.item
            +e.IMG.pic(src="/icon/icon-about-6.svg" alt="")
            +e.text
              b Согласовываем 
              | с вами 
              br
              | проект
          +e.item
            +e.text Получаем 
              b лицензию 
              | на
              br
              | проведение работ
            +e.IMG.pic(src="/icon/icon-about-7.svg" alt="")
          +e.item
            +e.IMG.pic(src="/icon/icon-about-8.svg" alt="")
            +e.text
              b Выполняем работы 
              | в рамках
              br
              | сметы и графика
          +e.item
            +e.text Принимаете работу и
              br
              | гарантийный 
              b сертификат
            +e.IMG.pic(src="/icon/icon-about-9.svg" alt="")
        +e.step
          - for( var i = 1; i < 10; i++) {
            span=i
          - }
  +b.faq
    .inner
      h2.text-center.heding-1 Ответы на часто задаваемые вопросы
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title Могу ли я заказать в ATTRACTOR проект дома, а строить помещение самостоятельно?
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title Какой сложности вы проектируете дома? 
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title Возможность оплаты частями?
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title Как быстро будет готова смета на дизайн и строительство? 
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title Вы можете сделать именно так как на понравившимся мне фото?
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.
      +e.line
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.7 490.7')
          path(d='M2.7 369.5c4.1 4.2 10.9 4.2 15.1 0L245.6 143l226.5 227.8c4.1 4.2 10.9 4.2 15.1 0 4.2-4.1 4.2-10.9 0-15.1l-234-235.4c-2.1-2.1-4.8-3.1-7.5-3.1s-5.5 1-7.5 3.1L2.8 354.4c-4.2 4.2-4.2 10.9-.1 15.1z' fill="#20133f")
        +e.H3.title У меня уже есть проектная документация. Можно ли изменить ее или использовать полностью?
        +e.body
          .text “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом: они не соблюдали сроки, меняли расценки и не всегда выполняли работу качественно”. “Когда мы решили построить дом для себя, у нас уже был большой опыт работы с промышленными строительными проектами, но мы даже не могли представить, как это трудно найти команду мечты и доверить проектировщикам свой дом. качественно”.