include ../../../bemto/bemto
include _head
include _button
include _breadcrumb

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/project/project
include ../../modules/vantage/vantage
include ../../modules/development/development
include ../../modules/callback/callback
include ../../modules/list/list
include ../../modules/idea/idea
include ../../modules/map/map
include ../../modules/content/content
include ../../modules/box-banner/box-banner
include ../../modules/call/call
include ../../modules/about/about
include ../../modules/portfolio/portfolio
include ../../modules/footer/footer
