mixin vantage(vars)
  +b.vantage
    +e.contain
      +e.H2.title.heading-1 Что вы получаете, доверяя Attractor
      +e.list
        +e.item
          +e.H3.caption.heading-2 Экспертность
          +e.text.text В Attractor наша команда разбирается в каждом процессе от и до. Мы не только делаем работу качественно, но проводим анализ по улучшению проекта с точки зрения сроков, бюджета и финального результата. 
        +e.item
          +e.H3.caption.heading-2 Экономию
          +e.text.text Мы экономим ваше время и бюджет — организация всех строительных процессов, подготовки документов и общение с государственными службами лежит на наших плечах. А еще мы считаем понятные сметы — вы точно знаете, за что платите. 
        +e.item
          +e.H3.caption.heading-2 Индивидуальный подход
          +e.text.text Основатели Attractor прошли каждый этап строительства самостоятельно. Мы начинали проектировать для себя и своих близких, собирая команду профессионалов по кусочкам. Теперь с таким же подходом мы создаем проекты для вас.
        +e.item
          +e.H3.caption.heading-2 Четкие сроки и бюджет
          +e.text.text Включаемся в работу быстро и без лишней бюрократии. Мы достигаем наивысшего качества, соблюдая при этом четкие сроки и фиксированный бюджет. 
      +link('Узнать больше о нашем подходе', '/about.html')(class="white")