mixin content(page)
  if page == 'repair'
    +b.content
      +e.inner.inner
        +e.box
          +e.IMG.pic(src='/images/repaier-vantage-1.jpg')
          +e.H3.title Terrace lorem ipsum
          +e.text.text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
        +e.box
          +e.IMG.pic(src='/images/repaier-vantage-2.jpg')
          +e.H3.title Terrace lorem ipsum
          +e.text.text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
  else if page == 'design'
    +b.content
      +e.inner_center.inner
        +e.article
          +e.H3.title Lorem Ipsum is lorem ipsum
          +e.text.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
        +e.IMG.picture(src="/images/design-2.jpg")
  else if page == 'about'
    +b.about
      +e.IMG.picture(src="/images/about-bg-1.jpg")
      +e.inner.inner
        +e.row
          +e.P.title Наша задача — избавить вас от больших забот, связанных 
            br
            span с ремонтом  
          +e.blockquote
            .text
              p Тогда они решили досконально изучить все процессы жилого строительства и собрать команду профессионалов — так началась история студии Attractor.
              p “Мы прошли через все трудности и знаем, как иногда сложно быть заказчиком. Поэтому к каждому клиенту мы относимся с особым вниманием, как если бы мы были на вашем месте”.
        +e.row_center
          +e.article
            +e.H3.caption Lorem Ipsum is lorem ipsum
            +e.text.text Тогда они решили досконально изучить все процессы жилого строительства и собрать команду профессионалов — так началась история студии Attractor.
            +link('Подробнее')
          +e.IMG.pic(src="/images/about-us.jpg")