mixin development(vars)
  +b.development
    +e.H3.title
      b Click on a shape 
      | to learn more about the project development process
    +e.box
      svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 659.1 1080' style='enable-background:new 0 0 659.1 1080;' xml:space='preserve')
        path.st0( data-figure="1" stroke-width='3' d='M240.5,377.3H56.2c-3.3,0-6-2.7-6-6V185.9c0-3.3,2.7-6,6-6h184.3c3.3,0,6,2.7,6,6v185.4  C246.5,374.6,243.8,377.3,240.5,377.3z')
        path.st0(data-figure="6" stroke-width='3' d='M552.6,988.3H368c-3.3,0-6-2.7-6-6V603.6c0-3.3,2.7-6,6-6h184.5c3.3,0,6,2.7,6,6v378.7  C558.6,985.6,555.9,988.3,552.6,988.3z')
        ellipse.st0(data-figure="4" stroke-width='3' cx='332.9' cy='123.3' rx='96.8' ry='97.2')
        path.st0(data-figure="3" stroke-width='3' d='M196.6,1052.2L63.8,919.4c-2.3-2.3-2.3-6.2,0-8.5l133.3-133.3c2.3-2.3,6.2-2.3,8.5,0l132.8,132.8  c2.3,2.3,2.3,6.2,0,8.5l-133.3,133.3C202.8,1054.5,198.9,1054.5,196.6,1052.2z')
        path.st0(data-figure="5" stroke-width='3' d='M449.5,157.8L268.3,367.4c-3.4,3.9-0.6,9.9,4.5,9.9h362.3c5.1,0,7.9-6,4.5-9.9l-181-209.6  C456.2,155,451.9,155,449.5,157.8z')
        path.st0(data-figure="2" stroke-width='3' d='M337.4,756.7H22c-2.2,0-4-1.8-4-4V601c0-2.2,1.8-4,4-4h158.6c1,0,2,0.4,2.8,1.1  c52.3,50.6,104.6,101.2,156.8,151.7C342.8,752.3,341,756.7,337.4,756.7z')
        rect(x='0.5' y='377.3' width='656.7' height='218.2' fill="#fff")
        text(transform='matrix(1 0 0 1 53.0192 507.5747)' font-size='60' font-family='Nunito Sans' fill='#20133f') Project development
      +e.content
        +e.col
          +e.text.text(data-item="1")
            h3 Подготовка
            p Мы начинаем работу с общения с вами. Проводим консультацию по объекту, оформляем бриф, исходя из ваших пожеланий и целей, распределяем задачи и определяем примерные сроки.
          +e.text.text(data-item="2")
            h3 Расчёт стоимости
            p Мы помогаем выбрать дизайнерское решение, подобрать материалы и цвета и рассчитываем примерную стоимость работ для вашего проекта. 
            p После этого мы готовим индивидуальный проект, а также формируем каталог, в котором учитываем все черновые и чистовые материалы. Конечная цена определяется после утверждения архитектурного проекта и не меняется в процессе работ.
          +e.text.text(data-item="3")
            h3 Начало работ
            p После согласования архитектурного проекта мы заключаем договор и начинаем работу. 
            p Мы ведем авторский надзор и строго курируем процесс: отвечаем за сроки, контролируем поставку материалов и качество выполнения проекта.
        +e.col
          +e.text.text(data-item="4")
            h3 Черновые и инженерные работы
            p Дальше мы приступаем к черновым работам. На них уходит больше всего времени, но качественные работы по демонтажу, отоплению, прокладке электропроводки, шукатурке стен, выравниванию пола и другим важным процессам — гарантия долговечности. 
              p Мы внимательно проверяем каждую деталь и не приступаем к следующему этапу до устранения недочетов.
          +e.text.text(data-item="5")
            h3 Чистовая отделка
            p После окончания черновых и инженерных работ, мы проводим новые замеры объекта. На этом этапе мы укладываем напольное покрытие, готовим стены к оормлению, устанавливаем сантехнику, двери и проводим работы по финальной отделке.
          +e.text.text(data-item="6")
            h3 Завершающие штрихи
            p В конце мы проводим уборку всего помещения и приглашаем дизайнера для проверки всех нюансов. Мелкие недочеты мы быстро устраняем.
            p Объект готов — забирайте ключи!