mixin idea(page)
  if page == 'build'
    +b.idea
      +e.inner.inner
        +e.H2.title.heading-1 Mauris commodo massa maximus mollis cursus
        +e.line
          +e.IMG.pic(src="/images/construction-1.jpg")
          +e.conetnt
            +e.H3.caption.heading-2 Administrative buildings
            +e.P.text.text Aenean molestie et ante a convallis. Aliquam blandit ex vel odio cursus accumsan. Nunc a imperdiet quam. Duis porttitor hendrerit augue eget lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur congue sodales elit ac congue. Curabitur interdum velit eu vulputate consectetur. Etiam aliquet eu odio sed semper. Duis ultrices pretium tortor, id laoreet nulla tincidunt et.
        +e.line
          +e.conetnt
            +e.H3.caption.heading-2 Residential buildings
            +e.P.text.text Aenean molestie et ante a convallis. Aliquam blandit ex vel odio cursus accumsan. Nunc a imperdiet quam. Duis porttitor hendrerit augue eget lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur congue sodales elit ac congue. Curabitur interdum velit eu vulputate consectetur. Etiam aliquet eu odio sed semper. Duis ultrices pretium tortor, id laoreet nulla tincidunt et.
          +e.IMG.pic(src="/images/construction-2.jpg")
        +e.line
          +e.IMG.pic(src="/images/construction-3.jpg")
          +e.conetnt
            +e.H3.caption.heading-2 Entertainment
            +e.P.text.text Aenean molestie et ante a convallis. Aliquam blandit ex vel odio cursus accumsan. Nunc a imperdiet quam. Duis porttitor hendrerit augue eget lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur congue sodales elit ac congue. Curabitur interdum velit eu vulputate consectetur. Etiam aliquet eu odio sed semper. Duis ultrices pretium tortor, id laoreet nulla tincidunt et.
        +e.line
          +e.conetnt
            +e.H3.caption.heading-2 Small architecture
            +e.P.text.text Aenean molestie et ante a convallis. Aliquam blandit ex vel odio cursus accumsan. Nunc a imperdiet quam. Duis porttitor hendrerit augue eget lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur congue sodales elit ac congue. Curabitur interdum velit eu vulputate consectetur. Etiam aliquet eu odio sed semper. Duis ultrices pretium tortor, id laoreet nulla tincidunt et.
          +e.IMG.pic(src="/images/construction-4.jpg")
  else
    +b.idea
      +e.inner.inner
        +e.H2.title.heading-1 Мы воплощаем ваши идеи в реальность
        +e.line
          +e.IMG.pic(src="/images/idea-1.jpg")
          +e.conetnt
            +e.H3.caption.heading-2 Строительство под ключ
            +e.P.text.text Мы проводим полный спектр строительных работ, начиная с расчета сметы вплоть до финальной отделки. Результат: вы получаете дом, который готов для заселения.
            +link('Подробнее', '/build.html')
        +e.line
          +e.conetnt
            +e.H3.caption.heading-2 Ремонт под ключ
            +e.P.text.text Мы выполняем ремонт от начала и до конца. Вам не придется искать отдельные компании по работе с электрикой или укладкой пола. Наши дизайнеры проконтролируют все строительные процессы.
            +link('Подробнее', '/repair.html')
          +e.IMG.pic(src="/images/idea-2.jpg")
        +e.line
          +e.IMG.pic(src="/images/idea-3.jpg")
          +e.conetnt
            +e.H3.caption.heading-2 Дизайн интерьера
            +e.P.text.text Мы меняем пространства в лучшую сторону: для вас и под ваш индивидуальный подход к жизни. Команда Attractor разбирается в трендах, но также учитывает вкус заказчика и находит современные дизайнерские решения для вашего проекта.
            +link('Подробнее', '/design.html')
        +e.line
          +e.conetnt
            +e.H3.caption.heading-2 Продажа недвижимости
            +e.P.text.text Мы находим и составляем различные предложения по недвижимости в зависимости от ваших личных предпочтений. Учитываем все: от локации и расположения школы для ребенка, до вида из окна и приятных соседей.
          +e.IMG.pic(src="/images/idea-4.jpg")