mixin map(vars)
  +b.map(class!=attributes.class)
    #map
  script.
    var map;
    function initMap() {
      if (document.querySelectorAll("#map").length) {
        var coord = {
          lat: 41.3946015,
          lng: 2.1351249,
        };
        map = new google.maps.Map(document.getElementById("map"), {
          center: coord,
          zoom: 16,
          zoomControl: false,
          scaleControl: false,
          fullscreenControl: false,
          mapTypeControl: false,
          styles: mapStyle,
          scrollwheel: false
        });
        var marker = new google.maps.Marker({
          position: coord,
          map: map,
        });
      }
    };
    var mapStyle = [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "color": "#20133f"
            }
          ]
        },
        {
          "elementType": "labels.text",
          "stylers": [
            {
              "color": "#45404e"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#d9d9d9"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#d9d9d9"
            }
          ]
        },
        {
          "featureType": "road.highway.controlled_access",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.highway.controlled_access",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#d9d9d9"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#d9d9d9"
            }
          ]
        }
      ]